.create-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
  }
  
  .form-container {
    width: 90%;
    max-width: 400px;
    background-color: #ffffff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
  }
  
  .form-heading {
    color: #4B67A1;
    margin-bottom: 20px;
    text-align: center;
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  .form-group label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  .form-control {
    width: 100%;
    padding: 8px;
    font-size: 14px;
    border: 1px solid #ddd;
    border-radius: 3px;
  }
  
  /* .create-container{
    background-color: #363333;
  } */
  .btn {
    border-radius: 3px;
    padding: 5px 10px;
    font-size: 14px;
    cursor: pointer;
  }
  
  .btn-success {
    background-color: #28A745;
    color: #fff;
  }
  